<data>
 <image>
  <imageloc>oldmain.jpg</imageloc>
  <text>
   <boxloc>(300,300)</boxloc>
   <rotangle>45</rotangle>
   <perspectangle>[10,12,13,14,15,16,17,18]</perspectangle>
   <text>Hello World</text>
   <fontloc>verdana.ttf</fontloc>
   <fontsize>20</fontsize>
   <color>(255,0,0)</color>
   <alphavalue>0.2</alphavalue>
   <function1></function1>
   <function2> </function2>
  </text>
  <text>
   <boxloc>(500,500)</boxloc>
   <rotangle>45</rotangle>
   <perspectangle>[10,12,13,14,15,16,17,18]</perspectangle>
   <text>Hello World</text>
   <fontloc>verdana.ttf</fontloc>
   <fontsize>20</fontsize>
   <color>(255,0,0)</color>
   <alphavalue>0.2</alphavalue>
   <function1></function1>
   <function2> </function2>
  </text>
</image>
<image>
  <imageloc>oldmain.jpg</imageloc>
  <text>
   <boxloc>(300,300)</boxloc>
   <rotangle>45</rotangle>
   <perspectangle>[10,12,13,14,15,16,17,18]</perspectangle>
   <text>Hello World</text>
   <fontloc>verdana.ttf</fontloc>
   <fontsize>20</fontsize>
   <color>(255,0,0)</color>
   <alphavalue>0.2</alphavalue>
   <function1></function1>
   <function2> </function2>
  </text>
</image>
</data>
